<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %> 
</head>
<body>
    <header>
        <%- include('partials/header'); %> 
    </header>
    <main class="mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <img class=" img-fluid"  src="https://images.unsplash.com/photo-1590394017390-add3e9922c35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80"  alt="baking_surface">
                </div>
                <div class="col-lg-7 my-4">
                    <h1 class="mb-5 text-center">Add a new Knead here!</h1>
                    <form action="/bread" method="POST" style="width:90%">
                        <div class="mb-3">
                            <input type="text" class="form-control"  placeholder="Bread Name" name="name">
                        </div>
                        <div class="row g-3">
                            <div class="col">
                              <input type="number" class="form-control" placeholder="Prep Time" aria-label="First name" name="prepTime">
                            </div>
                            <div class="col">
                              <input type="number" class="form-control" placeholder="Bake Time" aria-label="Last name" name="bakeTime">
                            </div>
                        </div>
                        <h5 class="text-center my-4">Ingredients</h5>
                        <div class="row g-3">
                            <div class="col-8">
                                <label for="flour" class="text-left form-label">Flour</label>
                                <select class="form-select" id="flour" aria-label="Default select example" name="ingredients.flour.typeOfFlour">
                                    <option selected>Select type of flour</option>
                                    <option value="1">All Purpose</option>
                                    <option value="2">Bread</option>
                                    <option value="3">Whole Wheat</option>
                                    <option value="4">Self Rising</option>
                                    <option value="5">Cake</option>
                                    <option value="6">Self Rising</option>
                                    <option value="7">00 Tipo</option>
                                    <option value="8">Almond</option>
                                    <option value="9">Coconut</option>
                                    <option value="10">Oat</option>
                                  </select>
                            </div>
                            <div class="col-4 mt-5">
                                <input type="number" class="form-control" placeholder="Amount (grams)" aria-label="First name" name="ingredients.flour.amountOfFlour">
                            </div>
                        </div>
                        <div class="row g-3 mt-2">
                            <div class="col-8">
                                <label for="yeast" class="form-label">Yeast</label>
                                <select class="form-select" id="yeast" aria-label="Default select example" name="ingredients.yeast.typeOfYeast">
                                    <option selected>Select type of yeast</option>
                                    <option value="1">Instant</option>
                                    <option value="2">Active Dry (Traditional)</option>
                                    <option value="3">Wild/Natural</option>
                                    <option value="4">Rapid Rise</option>
                                    <option value="5">"Pizza" Yeast</option>
                                    <option value="6">Fresh</option>
                                  </select>
                            </div>
                            <div class="col-4 mt-5">
                                <input type="number" class="form-control" placeholder="Amount (grams)" aria-label="First name" name="ingredients.yeast.amountOfYeast">
                            </div>
                        </div>
                        <div class="row g-3 mt-2">
                            <div class="col-8">
                                <label for="oil" class="form-label">Oil</label>
                                <select class="form-select" id="oil" aria-label="Default select example" name="ingredients.oil.typeOfOil">
                                    <option selected>Select type of oil</option>
                                    <option value="1">Olive</option>
                                    <option value="2">Butter (melted)</option>
                                    <option value="3">Butter (softened</option>
                                    <option value="4">Canola</option>
                                    <option value="5">Vegetable</option>
                                    <option value="6">Margerine (list in "Other Ingredients"</option>
                                    <option value="7">Other (list in "Other Ingredients"</option>
                                  </select>
                            </div>
                            <div class="col-4 mt-5">
                                <input type="number" class="form-control" placeholder="Amount (grams)" aria-label="First name" name="ingredients.oil.amountOfOil">
                            </div>
                        </div>
                        <div class="row g-3 my-3">
                            <div class="col-3">
                              <input type="number" class="form-control" placeholder="Salt (grams)" aria-label="First name" name="salt">
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control" placeholder="Sugar (grams)" aria-label="First name" name="sugar">
                              </div>
                              <div class="col-3">
                                <input type="number" class="form-control" placeholder="Water (grams)" aria-label="First name" name="water">
                              </div>
                              <div class="col-3">
                                <input type="number" class="form-control" placeholder="Milk/Milk Sub (grams)" aria-label="First name" name="milk_msub">
                              </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="text" id="flexCheckGluten" name="glutenFree">
                                    <label class="form-check-label" for="flexCheckGluten">Gluten Free</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="text" id="flexCheckDairy" name="dairyFree">
                                    <label class="form-check-label" for="flexCheckDairy">Dairy Free</label>
                                </div>
                            </div>
                            <div class=" col-6">
                                <textarea class="form-control" placeholder="Additional Ingredients (seperate by comma)" name="otherIngrdients" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control" type="text" name="img"  placeholder="Image URL here" aria-label=".form-control-lg example">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" placeholder="Input baking instructions here (text field may be extended)" name="instructions" rows="5"></textarea>
                        </div>
                          <input type="submit"  class="btn btn-outline-primary" value="Submit Recipe"/>
                          <input type="reset"  class="btn btn-outline-primary" value="Reset Form"/>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/body'); %>
</body>
</html>