<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %> 
</head>
<body>
    <header>
        <%- include('partials/header'); %> 
    </header>
    <main class="my-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <img class=" img-fluid"  src="https://images.unsplash.com/photo-1590394017390-add3e9922c35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80"  alt="baking_surface">
                </div>
                <div class="col-lg-7 mt-3">
                    <h1 class="mb-3 text-center">Add a new Knead here!</h1>
                    <form action="/bread" method="POST" style="width:90%;">
                        <div class="mb-3">
                            <input type="text" class="form-control"  placeholder="Bread Name" name="name">
                        </div>
                        <div class="row g-3">
                            <div class="col-6">
                              <input type="number" class="form-control" placeholder="Prep Time" aria-label="First name" name="prepTime">
                            </div>
                            <div class="col-6">
                              <input type="number" class="form-control" placeholder="Bake Time" aria-label="Last name" name="bakeTime">
                            </div>
                        </div>
                        <h5 class="text-center mt-3">Ingredients</h5>
                        <div class="row g-3">
                            <div class="col-8">
                                <label for="flour" class="text-left form-label">Flour</label>
                                <select class="form-select" id="flour" aria-label="Default select example" name="ingredients.flour.typeOfFlour">
                                    <option disabled selected>Select type of flour</option>
                                    <option text="All purpose">All Purpose</option>
                                    <option text="Bread">Bread</option>
                                    <option text="Whole wheat">Whole Wheat</option>
                                    <option text="Self rising">Self Rising</option>
                                    <option text="Cake">Cake</option>
                                    <option text="00 Tipo">00 Tipo</option>
                                    <option text="Almond">Almond</option>
                                    <option text="Coconut">Coconut</option>
                                    <option text="Oat">Oat</option>
                                  </select>
                            </div>
                            <div class="col-4 mt-5">
                                <input type="number" class="form-control" placeholder="Amount (grams)" aria-label="First name" name="ingredients.flour.amountOfFlour">
                            </div>
                        </div>
                        <div class="row g-3 mt-1">
                            <div class="col-8">
                                <label for="yeast" class="form-label">Yeast</label>
                                <select class="form-select" id="yeast" aria-label="Default select example" name="ingredients.yeast.typeOfYeast">
                                    <option disabled selected>Select type of yeast</option>
                                    <option text="Instant">Instant</option>
                                    <option text="Active Dry">Active Dry (Traditional)</option>
                                    <option text="Wild/Natural">Wild/Natural</option>
                                    <option text="Rapid Rise">Rapid Rise</option>
                                    <option text="Pizza Yeast">"Pizza" Yeast</option>
                                    <option text="Fresh">Fresh</option>
                                  </select>
                            </div>
                            <div class="col-4 mt-5">
                                <input type="number" class="form-control" placeholder="Amount (grams)" aria-label="First name" name="ingredients.yeast.amountOfYeast">
                            </div>
                        </div>
                        <div class="row g-3 mt-1">
                            <div class="col-8">
                                <label for="oil" class="form-label">Oil</label>
                                <select class="form-select" id="oil" aria-label="Default select example" name="ingredients.oil.typeOfOil">
                                    <option disabled selected>Select type of oil</option>
                                    <option text="Olive">Olive</option>
                                    <option text="Butter (melted)">Butter (melted)</option>
                                    <option text="Butter (softened)">Butter (softened)</option>
                                    <option text="Canola">Canola</option>
                                    <option text="Vegetable">Vegetable</option>
                                    <option text="Margerine">Margerine</option>
                                    <option text="Other (list in 'Other Ingredients')">Other (list in "Other Ingredients")</option>
                                  </select>
                            </div>
                            <div class="col-4 mt-5">
                                <input type="number" class="form-control" placeholder="Amount (grams)" aria-label="First name" name="ingredients.oil.amountOfOil">
                            </div>
                        </div>
                        <div class="row g-3 my-3">
                            <div class="col-3">
                              <input type="number" class="form-control" placeholder="Salt (grams)" aria-label="First name"  name="ingredients.salt">
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control" placeholder="Sugar (grams)" aria-label="First name" name="ingredients.sugar">
                              </div>
                              <div class="col-3">
                                <input type="number" class="form-control" placeholder="Water (grams)" aria-label="First name" name="ingredients.water">
                              </div>
                              <div class="col-3">
                                <input type="number" class="form-control" placeholder="Milk/Milk Sub (grams)" aria-label="First name" name="ingredients.milk_msub">
                              </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="flexCheckGluten" name="glutenFree">
                                    <label class="form-check-label" for="flexCheckGluten">Gluten Free</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="flexCheckDairy" name="dairyFree">
                                    <label class="form-check-label" for="flexCheckDairy">Dairy Free</label>
                                </div>
                                
                            </div>
                            <div class=" col-6">
                                <textarea class="form-control" placeholder="Additional Ingredients (seperate by comma)" name="otherIngrdients" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-6 mb-3">
                                <input class="form-control form-control" type="text" name="img"  placeholder="Image URL here" aria-label=".form-control-lg example">
                            </div>
                            <div class="col-6 mb-3">
                                <textarea class="form-control" placeholder="Bread Description" name="description" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" placeholder="Input baking instructions here (text field may be extended)" name="instructions" rows="4"></textarea>
                        </div>
                          <input type="submit"  class="btn btn-outline-primary" value="Submit Recipe"/>
                          <input type="reset"  class="btn btn-outline-primary" value="Reset Form"/>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer'); %>
    <%- include('partials/body'); %>
</body>
</html>



